---
import { Cards } from '@data/cards';
---
<section>
    <div class="wrapper container mx-auto flex flex-wrap justify-center gap-4 md:justify-between items-center p-2 md:px-0">
        {
            Cards.map((card) => {
                return (
                    <article class="bg-blue-200 w-full md:w-[18rem]">
                        <figure class="bg-slate-200 w-full h-[200px] flex justify-center items-center">
                            <img class="aspect-square" src={card.image} alt={card.title} width="200" height="200" />
                        </figure>
                        <div class="">
                            <h2 class="text-xl font-bold">{card.title}</h2>
                            <p>{card.description}</p>
                        </div>
                    </article>
                );
            })
        }
    
    </div>
</section>