---
import ArrowUp from '@assets/svg/arrow-up.svg';
import Check from '@assets/svg/check.svg';
import Facebook from '@assets/svg/facebook.svg';
import LinkedIn from '@assets/svg/linkedIn.svg';
import Logo from '@assets/svg/logo.svg';
import Reddit from '@assets/svg/reddit.svg';
import X from '@assets/svg/x.svg';
const year = new Date().getFullYear();
---
<footer class="bg-black text-white text-pretty">
    <div class="wrapper container mx-auto px-5">

        <div class="footer-header flex flex-col gap-y-6 md:gap-y-0 md:flex-row py-20">
            <div class="title">
                <h2 class="text-4xl font-semibold text-start">It's time to support zero pollution, <span class="text-[#8D959D]">with renewable resources</span></h2>
                <div class="experience flex flex-wrap gap-x-6 mt-4">
                    <small class="font-semibold text-start flex items-center gap-x-2"><Check class="size-5 fill-[#00D47E] text-black" /> Experienced for more than 10 years</small>
                    <small class="font-semibold text-start flex items-center gap-x-2"><Check class="size-5 fill-[#00D47E] text-black" /> Support for the latest technology</small>
                </div>
            </div>
            <div class="content flex flex-col gap-4">
                <p class="text-start text-sm font-semibold text-pretty">By increasing the effectiveness and efficiency of electricity use, the use of renewable resources is very profitable for all industrial services</p>
                <div class="btn-footer mt-3">
                    <a class="px-6 py-3 bg-white text-black rounded-3xl" href="/">
                        Get in touch <ArrowUp class="inline-block ml-2" />
                    </a>
                </div>
            </div>
        </div>

        <div class="footer-nav flex flex-wrap justify-between items-center py-4">

            <div class="footer-logo flex flex-1 items-center justify-start ">
                <a href="7">
                    <Logo class="size-10" />
                </a>
            </div>

            <nav class="gap-x-6 text-sm font-semibold hidden md:flex">
                <a class="hover:underline active:underline" href="7">Home</a>
                <a class="hover:underline active:underline" href="7">About</a>
                <a class="hover:underline active:underline" href="7">Services</a>
                <a class="hover:underline active:underline" href="7">Contact</a>
            </nav>

            <div class="socials flex flex-1 gap-x-4 justify-end">
                <a href="7">
                    <LinkedIn class="size-6" />
                </a>
                <a href="7">
                    <X class="size-6" />
                </a>
                <a href="7">
                    <Facebook class="size-6" />
                </a>
                <a href="7">
                    <Reddit class="size-6" />
                </a>
            </div>

        </div>

        <div class="footer-content font-semibold text-sm py-6 flex items-center justify-between border-t-1 border-[#8D959D]">
            <p class="text-pretty text-sm">&copy; {year} CREADO POR KEVIN RIVERA 👌</p>
            <div class="privacity flex gap-x-6">
                <a class="hover:underline active:underline" href="7">Terms of Service</a>
                <a class="hover:underline active:underline" href="7">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>