---
const year = new Date().getFullYear();
---
<footer>
    <div class="wrapper container mx-auto">
        <div class="footer-content text-center font-bold text-blue-700">
            <p class="text-pretty text-sm">&copy; {year} CREADO POR KEVIN RIVERA 👌</p>
        </div>
    </div>
</footer>