---
import { Menu } from '@data/menu.ts';
import Logo from '@assets/svg/logo.svg';
---

<header class="header shadow">
    <div class="wrapper flex items-center justify-between container mx-auto py-4">
        <div class="logo">
            <a href="http://">
               <Logo class="aspect-square" />
            </a>
        </div>
        <nav class="nav">
            <ul class="flex">
                {
                    Menu.map((item)=>{
                        return (
                            <li>
                                <a href={item.link} class="hover:bg-amber-300 active:bg-amber-300 p-2">{item.name}</a>
                            </li>
                        )
                    })
                }
            </ul>
        </nav>
    </div>
</header>