---
import Articles from '../presentational/Articles.astro';
import Footer from '../presentational/Footer.astro';
import Hero from '../presentational/Hero.astro';
import Navbar from '../presentational/Navbar.astro';
---
<Navbar />
<main>
    <Hero />
    <Articles />
</main>
<Footer />